{% extends 'base.html.twig' %}

{% block title %}
    {{ 'title.note_details'|trans({'%id%': note.id|default('')}) }}
{% endblock %}

{% block body %}
    <h1>{{ 'title.note_details'|trans({'%id%': note.id|default('')}) }}</h1>
    {% if note is defined and note|length %}
        <dl class="dl-horizontal">
            <dt>{{ 'label.content'|trans }}</dt>
            <dd>{{ note.content }}</dd>
            <dt>{{ 'label.priority'|trans }}</dt>
            <dd>{{ note.priority }}</dd>
            <dt>{{ 'label.status'|trans }}</dt>
            <dd>{{ note.status.label|trans }}</dd>
            <dt>{{ 'label.category'|trans }}</dt>
            <dd>{{  note.category.title }}</dd>
            <dt>{{ 'label.created_at'|trans }}</dt>
            <dd>{{ note.createdAt|date("d.m.Y, H:i") }}</dd>
            <dt>{{ 'label.updated_at'|trans }}</dt>
            <dd>{{ note.updatedAt|date("d.m.Y, H:i") }}</dd>
            <dt>{{ 'label.actions'|trans }}</dt>
            <dd>
                <a href="{{ url('note_edit', {id: note.id}) }}" title="{{ 'action.edit'|trans }}">
                    {{ 'action.edit'|trans }}
                </a>
                •
                <a href="{{ url('note_delete', {id: note.id}) }}" title="{{ 'action.delete'|trans }}">
                    {{ 'action.delete'|trans }}
                </a>
            </dd>
        </dl>
        <p>
            <a href="{{ url('note_index') }}" title="{{ 'action.back_to_list'|trans }}">
                {{ 'action.back_to_list'|trans }}
            </a>
        </p>
    {% else %}
        <p>
            {{ 'message.record_not_found'|trans }}
        </p>
    {% endif %}
{% endblock %}