{% extends 'base.html.twig' %}

{% block title %}
    {{ 'title.todoList_list'|trans }}
{% endblock %}

{% block body %}
    <h1>{{ 'title.todoList_list'|trans }}</h1>
    <a href="{{ url('todoList_create') }}" title="{{ 'action.create'|trans }}">
        {{ 'action.create'|trans }}
    </a>
    <div class="row">
    {% if pagination is defined and pagination|length %}
        <table class="table table-striped">
            <thead>
            <tr>
                <th>{{ knp_pagination_sortable(pagination, 'label.title'|trans, 'todo_list.title') }}</th>
                <th>{{ knp_pagination_sortable(pagination, 'label.created_at'|trans, 'todo_list.createdAt') }}</th>
                <th>{{ knp_pagination_sortable(pagination, 'label.updated_at'|trans, 'todo_list.updatedAt') }}</th>
                <th>{{ 'label.actions'|trans }}</th>
            </tr>
            </thead>
            <tbody>
            {% for todoList in pagination %}
                <tr>
                    <td>{{ todoList.title }}</td>
                    <td>{{ todoList.createdAt|date("d.m.Y, H:i") }}</td>
                    <td>{{ todoList.updatedAt|date("d.m.Y, H:i") }}</td>
                    <td>
                        <a href="{{ url('todoList_show', {id: todoList.id}) }}" title="{{ 'action.view'|trans }}">
                            {{ 'action.view'|trans }}
                        </a>
                        •
                        <a href="{{ url('todoList_edit', {id: todoList.id}) }}" title="{{ 'action.edit'|trans }}">
                            {{ 'action.edit'|trans }}
                        </a>
                        •
                        <a href="{{ url('todoList_delete', {id: todoList.id}) }}" title="{{ 'action.delete'|trans }}">
                            {{ 'action.delete'|trans }}
                        </a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <div class="navigation text-center">
            {{ knp_pagination_render(pagination) }}
        </div>
        </div>
    {% else %}
        <p>
            {{ 'message.empty_list'|trans }}
        </p>
    {% endif %}
{% endblock %}