{% extends 'base.html.twig' %}

{% block title %}
    {{ 'title.todoList_details'|trans({'%id%': todoList.id|default('')}) }}
{% endblock %}

{% block body %}
    <h1>{{ 'title.todoList_details'|trans({'%id%': todoList.id|default('')}) }}</h1>
    {% if todoList is defined and todoList|length %}
        <dl class="dl-horizontal">
            <dt>{{ 'label.title'|trans }}</dt>
            <dd>{{ todoList.title }}</dd>
            <dt>{{ 'label.created_at'|trans }}</dt>
            <dd>{{ todoList.createdAt|date("d.m.Y, H:i") }}</dd>
            <dt>{{ 'label.updated_at'|trans }}</dt>
            <dd>{{ todoList.updatedAt|date("d.m.Y, H:i") }}</dd>
            <dt>{{ 'label.actions'|trans }}</dt>
            <dd>
                <a href="{{ url('todoList_edit', {id: todoList.id}) }}" title="{{ 'action.edit'|trans }}">
                    {{ 'action.edit'|trans }}
                </a>
                •
                <a href="{{ url('todoList_delete', {id: todoList.id}) }}" title="{{ 'action.delete'|trans }}">
                    {{ 'action.delete'|trans }}
                </a></dd>
        </dl>
        <p>
            <a href="{{ url('todoList_index') }}" title="{{ 'action.back_to_list'|trans }}">
                {{ 'action.back_to_list'|trans }}
            </a>
        </p>
    {% else %}
        <p>
            {{ 'message.record_not_found'|trans }}
        </p>
    {% endif %}
{% endblock %}